$mobile-break-point: 900px;

.section-title {
  text-transform: uppercase;
  opacity: 0.5;
  font-weight: lighter;
  font-size: 12px;
  margin-bottom: 8px;
  display: block;
}


.container {
  padding: 24px 24px;
  box-sizing: border-box;
  width: 300px;
  height: 100%;

  @media (max-width: $mobile-break-point) {
    width: 100%;
  }
}

::ng-deep  {
  .mdc-list-item__primary-text {
    color: white !important;
  }

  .mat-pseudo-checkbox::after {
    color: white;
  }
  .mat-calendar-body-selected {
    border: 1px solid white;
  }

  .mat-calendar-body-in-range::before {
    background: rgba(55, 47, 110, 0.65);
  }
}
