.content {
  height: 100vh;
  display: flex;
  flex-direction: column;

  ::ng-deep app-dashboard {
    height: 100%;
  }
}

.status {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 12px;
  font-weight: lighter;
  font-size: 12px;

  @media (max-width: 900px) {
    display: none !important;
  }
}
