<div class="container">
  <div class="controls-mobile card" *ngIf="!optionsOpenMobile">
    <div style="display: flex; align-items: center; gap: 8px; margin-left: 12px">
      <span class="blinking-icon"></span>
      <span>Daten aktuell</span>
    </div>
    <button mat-icon-button color="secondary" (click)="optionsOpenMobile = true">
      <mat-icon>tune</mat-icon>
    </button>
  </div>

  <div class="charts-view">

    <mat-card class="card" style="flex-grow: 1">
      <div class="charts-container">
        <ngx-charts-line-chart
          style="margin-bottom: -96px;"
          [scheme]="$any(colorScheme)"
          [results]="data"
          [timeline]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [xAxis]="true"
          [yAxis]="true"
          [autoScale]="true"
          [xAxisLabel]="screenWidth > 900 ? 'Zeit' : ''"
          [yAxisLabel]="screenWidth > 900 ? 'Preis in CHF' : ''"
          [yAxisTickFormatting]="formatPrice"
          [xAxisTickFormatting]="formatDate"
          [gradient]="true"
          [legend]="true"
          [legendTitle]="'Zimmer'"
          [curve]="curveInterpolation"
        >
          <ng-template #tooltipTemplate let-model="model">
            Zu diesem Zeitpunkt kostet eine <b>{{model.series}} Zimmer</b> Immobilie
            <br>durchschnittlich <b>{{Math.round(model.value)}}</b> CHF
          </ng-template>

          <ng-template #seriesTooltipTemplate let-model="model">
            <div *ngFor="let dataPoint of model">
              <span>{{dataPoint.series}} Zimmer durchschnittlich {{Math.round(dataPoint.value)}} CHF</span>
            </div>
          </ng-template>
        </ngx-charts-line-chart>
      </div>
    </mat-card>
    <div style="width: 100%">
      <mat-card class="card">
        <div
          style="width: 100%; justify-content: center; align-items: center; margin-right: -12px; margin-bottom: -12px">
          <ngx-charts-number-card
            [cardColor]="'#372f6e'"
            [results]="additionalStatistics"
          ></ngx-charts-number-card>
        </div>
      </mat-card>
    </div>

  </div>


  <mat-card class="card options" [class.options-open-mobile]="optionsOpenMobile"
            [class.options-closed-mobile]="!optionsOpenMobile">
    <app-options
      style="height: 100%"
      [options]="options"
      [roomOptions]="roomOptions"
      (setFilter)="loadData(); optionsOpenMobile = false"
    ></app-options>
  </mat-card>
</div>

