$mobile-break-point: 900px;

::ng-deep .ngx-charts {
  text {
    fill: #fff;
  }

  .gridline-path {
    stroke: rgba(255, 255, 255, 0.1) !important;
  }

  .line-highlight {
    display: block !important;
  }
}

.container {
  padding: 8px 32px 32px 32px;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  gap: 16px;
  position: relative;

  @media (max-width: $mobile-break-point) {
    flex-direction: column;
  }
}

.charts-container {
  width: 100%;
  height: calc(100% + 64px);
  display: flex;
  align-items: center;
  @media (max-width: $mobile-break-point) {
    width: calc(100% + 24px);
    height: calc(100% + 64px);
    margin-left: -38px;
    margin-bottom: -38px;
  }
}

.charts-view {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.09);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.6px);
  -webkit-backdrop-filter: blur(11.6px);
  border: 1px solid rgba(255, 255, 255, 0.11);
}

.additional-statistics {
  display: flex;
  width: 100%;
  gap: 16px;
  padding: 16px;
  box-sizing: border-box;

  @media (max-width: $mobile-break-point) {
    flex-wrap: wrap;
  }

  .statistic-card {
    background-color: #0A1029;
    padding: 16px 32px;
    border-radius: 8px;
    width: 100%;
    border-bottom: 8px #59405C solid;

    .value {
      font-weight: bold;
      font-size: 48px;
      line-height: 48px;
      margin-bottom: 8px;

      @media (max-width: $mobile-break-point) {
        font-size: 24px;
        line-height: 24px;
      }
    }
  }
}

.options {
  @media (max-width: $mobile-break-point) {
    position: absolute;
    height: calc(100% - 64px);
    width: calc(100% - 64px);
  }
}

.options-open-mobile {
  @media (max-width: $mobile-break-point) {
    display: block;
  }
}

.options-closed-mobile {
  @media (max-width: $mobile-break-point) {
    display: none;
  }
}

.controls-mobile {
  display: none;
  @media (max-width: $mobile-break-point) {
    display: flex;
    justify-content: space-between;
  }
}

